
<div class="row g-0">
  <div class="col-lg-7">
    <img id="cheesecake" src="../assets/cheesecake.png" alt="cake is a lie">
  </div>
  <div class="col-lg-5">

  </div>
</div>




<!-- Loop over each object in the projects array -->
<div>
  <h1 class="featued-title">Featured Recipes:</h1>
  {{#each projects as |project| }}
  <div id="foodie" class="row mb-4 project">
    <div class="col-md-4">
      <h2 class="main-ing-title">
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          Recipe Title:
      </h2>
      <a id="ing-title" href="/project/{{project.id}}">{{project.name}}</a>
      <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
    </div>

    <div class="col-md-7">
      <h2 class="main-ing-title">Description:</h2>
      <p class="project-home-desc">
        {{project.descriptiontwo}}
      </p>
    </div>
  </div>
  {{/each}}
</div>